
# NLDMAP - LOCAL DEVELOPMENT

# MongoDB
MONGO_ROOT_USERNAME=devadmin
MONGO_ROOT_PASSWORD=devpassword
MONGO_DATABASE=nldmap

# PostgreSQL
POSTGRES_USER=devadmin
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=nldmap

# Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=devpassword