POSTGRES_DB=nldmap
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_ADMIN_PASSWORD

NLDMAP_DEV1_USER=eduardo
NLDMAP_DEV1_PASSWORD=CHANGE_ME_EDUARDO_PASSWORD

NLDMAP_DEV2_USER=jimmy
NLDMAP_DEV2_PASSWORD=CHANGE_ME_JIMMY_PASSWORD
